<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>rsp-game</title>
</head>
<body>
  <!-- header -->
  <%- include('header') %>
  <div class="main">
    <div>Welcome to my page</div>
    <div>Select a room</div>
    <form action="/index" method="POST">
      <ul>
        <% roomInfo.forEach((elm, idx) => { %>
          <li>
            <button type="submit" name="room" value="<%= idx %>"
              class="room-button" disabled>Join room<%= idx + 1 %>
            </button>
            <div class="room-access">
              <div>Players: <%= elm[0] %> / PW: <%= elm[1] %> </div>
            </div>
          </li>
        <% }) %>
      </ul>
      <div class="set-nickname">
        <label>Nickname</label>
        <input type="text" name="nickname" maxlength="8"
          placeholder="8 characters or less" class="nickname"
          value="<%= locals.isLoggedIn ? locals.username : "" %>" />
      </div>
      <div>
        <div class="set-password">
          <label>Set password</label>
          <input type="checkbox" class="password-checkbox" />
          <input type="password" name="password" value="" maxlength="8"
            placeholder="8 characters or less" class="password" />
        </div>
        <p>
          <div>* Password is optional</div>
          <div>* Cannot contain these characters: <, >, &, ', " and /</div>
        </p>
      </div>
      <div>
        <% if (!typeof(errors)) {%>
          <div><%= console.log(errors) %></div>
        <% } %>
      </div>
    </form>
    <div class="image-rsp">
      <img src="/image/rsp.png" alt="rsp.png" width="200" height="200" />
    </div>
  </div>
  <footer>
  </footer>
  <script>
    const roomButton = document.querySelectorAll(".room-button");
    const nickname = document.querySelector(".nickname");
    const passwordCheckbox = document.querySelector(".password-checkbox");
    const password = document.querySelector(".password");

    if (nickname.value) {
      roomButton.forEach(elm => elm.disabled = false);
    }

    nickname.addEventListener("input", () => {
      if (nickname.value) {
        roomButton.forEach(elm => elm.disabled = false);
      } else {
        roomButton.forEach(elm => elm.disabled = true);
      }
    });

    passwordCheckbox.addEventListener("change", () => {
      if (passwordCheckbox.checked) {
        password.style.visibility = "visible";
      } else {
        password.style.visibility = "hidden";
      }
    });
  </script>
</body>
</html>